<ul>
    <li class='first_level' ng-if="item" ng-repeat="(key,item) in items track by key" >
        <a ng-bind="item.name" ng-click="expand(key)"></a>
        <span ng-click="deleteNode(key)" class=" glyphicon glyphicon-trash"></span>
        <ul ng-if="show[key]" class="child_ul">
            <li ng-if="item.children.length > 0 " class="filter_button">
                <a ng-repeat="filter in filters" ng-click="toggleFilter(filter)" ng-bind="::filter.name"
                   ng-class="{'active' : filter === activeFilter}"></a>
            </li>
            <li class="second_level" ng-if="child"
                ng-repeat="(secondLevelKey,child) in item.children | filter : {doneStatus: activeFilter.doneStatus}  track by secondLevelKey">
                <span ng-click="toggleDoneStatus(child)">
                     <span ng-bind="child.name" ng-class="{'done':child.doneStatus}"></span>
                     <span title="done-undone"
                           ng-class="child.doneStatus ? 'glyphicon glyphicon-ok' :'glyphicon glyphicon-remove'"></span>
                </span>
                <span ng-click="deleteNode(key,child)" class="glyphicon glyphicon-trash">  </span>
            </li>
            <input type="text" ng-model="model.childModel" placeholder="add  Subtask" class="addItemText">
            <input type="button" ng-click="addToList(key)" value="add" class="addItem">
        </ul>
    </li>
    <input type="text" ng-model="model.parentModel" placeholder="add todo task" class="addItemText">
    <input type="button" ng-click="addToList()" value="add" class="addItem">
</ul>